In [3]:
import pandas as pd
from datetime import datetime, timedelta
import random

In [4]:
row_size = 10
balances = {
    'balance': [random.randrange(1, 30, 1) for i in range(row_size)],
    'minimum payout': [random.randrange(1, 20, 1) for i in range(row_size)],
    'miner': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    # 'current amount': [900, 450, 1900, 750, 1450, 2450, 360, 630, 1720, 1080]
}
balances_df = pd.DataFrame(balances)
balances_df['send_payment'] = (balances_df['balance'] > balances_df['minimum payout']).astype(int)

send_df = balances_df[balances_df['send_payment'] == 1]
print(balances_df)

print(send_df)

   balance  minimum payout miner  send_payment
0        3               4     A             0
1       17               7     B             1
2        4              19     C             0
3        3               9     D             0
4       27               2     E             1
5       13              15     F             0
6       12              10     G             1
7       29               5     H             1
8       25              19     I             1
9        5               9     J             0
   balance  minimum payout miner  send_payment
1       17               7     B             1
4       27               2     E             1
6       12              10     G             1
7       29               5     H             1
8       25              19     I             1

In [6]:
send_df.empty

False

In [38]:
payment = {
    'date': [datetime.now() - timedelta(days=i) for i in range(row_size)],
    'miner': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'amount': [random.randrange(1, 30, 1) for i in range(row_size)],
    'swap': [random.randint(0, 1)  for _ in range(row_size)],
}
payment_df = pd.DataFrame(payment)
print(payment_df)

                        date miner  amount  swap
0 2024-08-06 11:46:16.576440     A       7     1
1 2024-08-05 11:46:16.576445     B      13     1
2 2024-08-04 11:46:16.576447     C       3     0
3 2024-08-03 11:46:16.576447     D      25     0
4 2024-08-02 11:46:16.576448     E      22     0
5 2024-08-01 11:46:16.576449     F       7     1
6 2024-07-31 11:46:16.576449     G      12     1
7 2024-07-30 11:46:16.576450     H       6     1
8 2024-07-29 11:46:16.576451     I       8     0
9 2024-07-28 11:46:16.576451     J       9     1

In [39]:
swap_payment = { 
     'date': [datetime.now() - timedelta(days=i) for i in range(10)], 
     'miner': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], 
     'amount': [random.randrange(1, 30, 1) for i in range(row_size)],
     'swap_amount': [50, 75, 100, 125, 150, 175, 200, 225, 250, 275]
} 
swap_payment_df = pd.DataFrame(swap_payment)
print(swap_payment_df)

                        date miner  amount  swap_amount
0 2024-08-06 11:48:14.700643     A      25           50
1 2024-08-05 11:48:14.700650     B      29           75
2 2024-08-04 11:48:14.700653     C      24          100
3 2024-08-03 11:48:14.700654     D       6          125
4 2024-08-02 11:48:14.700655     E       1          150
5 2024-08-01 11:48:14.700657     F       9          175
6 2024-07-31 11:48:14.700658     G       2          200
7 2024-07-30 11:48:14.700659     H      24          225
8 2024-07-29 11:48:14.700660     I      26          250
9 2024-07-28 11:48:14.700661     J      17          275

In [34]:
# Swapping and payment code

for _, row in send_df.iterrows():
    amount_to_send = row.balance
    miner = row.miner

    swapping = random.randint(0, 1) # see if miner has NFT and native tokens in description if so True otherwise False
    print(amount_to_send, miner, swapping)
    if swapping:
        # TO DO 
        # Adding swapping code to perform swap 
        # add to swap payment history
        pass
    else:
        # TO DO
        # Add code to just send erg
        pass

    # update overall payment history

10 A 1
18 C 0
10 D 0
19 E 1
15 H 1
27 I 1

                        date miner  amount swap
0 2024-08-06 11:30:27.938004     A     100  Yes
1 2024-08-05 11:30:27.938009     B     200  Yes
2 2024-08-04 11:30:27.938010     C     300  Yes
3 2024-08-03 11:30:27.938011     D     400  Yes
4 2024-08-02 11:30:27.938012     E     500  Yes
5 2024-08-01 11:30:27.938014     F     600  Yes
6 2024-07-31 11:30:27.938014     G     700  Yes
7 2024-07-30 11:30:27.938015     H     800  Yes
8 2024-07-29 11:30:27.938016     I     900  Yes
9 2024-07-28 11:30:27.938017     J    1000  Yes

                        date miner  amount  swap_amount
0 2024-08-06 11:30:26.369807     A     100           50
1 2024-08-05 11:30:26.369812     B     200           75
2 2024-08-04 11:30:26.369814     C     300          100
3 2024-08-03 11:30:26.369815     D     400          125
4 2024-08-02 11:30:26.369816     E     500          150
5 2024-08-01 11:30:26.369817     F     600          175
6 2024-07-31 11:30:26.369818     G     700          200
7 2024-07-30 11:30:26.369819     H     800          225
8 2024-07-29 11:30:26.369820     I     900          250
9 2024-07-28 11:30:26.369821     J    1000          275